#container {
    display: flex;
}

#title {
    display: flex;
    padding: 10px;
}
#users {
    width: 600px;
    margin: 10px;
    padding: 10px;
}

#statistics {
    width: 300px;
    margin: 10px;
    padding: 10px;
}

img {
    border-radius: 50%;
}

h1 {
    text-align: center;
}
